{% extends './template_files/main.html' %}
{%load static %} 

{% block content %}
<div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> 

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('/static/website/images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Gallery</h1>
            <div class="custom-breadcrumbs">
              <a href="index.html">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Gallery</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section" id="next-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_1.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_1.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_2.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_2.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_3.jp' %}g" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_3.jpg' %}">
            </a>
          </div>

          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_4.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_4.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_5.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_5.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_6.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_6.jpg' %}">
            </a>
          </div>

          <div class="col-md-6 col-lg-6 item">
            <a href="{%static 'website/images/sq_img_11.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_11.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-6 item">
            <a href="{%static 'website/images/sq_img_2.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_2.jpg' %}">
            </a>
          </div>

          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_7.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_7.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_8.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_8.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_9.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_9.jpg' %}">
            </a>
          </div>

          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_10.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_10.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_11.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_11.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_12.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_12.jpg' %}">
            </a>
          </div>

        </div>
      </div>
    </section>
</div>
{% endblock %}



<!-- {%load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>JobBoard &mdash; Website Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link rel="stylesheet" href="{%static 'website/css/custom-bs.css' %}">
    <link rel="stylesheet" href="{%static 'website/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{%static 'website/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{%static 'website/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{%static 'website/fonts/line-icons/style.css' %}">
    <link rel="stylesheet" href="{%static 'website/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{%static 'website/css/animate.min.css' %}">
    <link rel="stylesheet" href="{%static 'website/css/quill.snow.css' %}">
    


    <link rel="stylesheet" href="{%static 'website/css/style.css' %}">    
  </head>
  <body id="top">

   <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div> 
    
<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> 
    


    {% include "template_files/navbar.html" %}


    <section class="section-hero overlay inner-page bg-image" style="background-image: url('/static/website/images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Gallery</h1>
            <div class="custom-breadcrumbs">
              <a href="index.html">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Gallery</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section" id="next-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_1.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_1.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_2.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_2.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_3.jp' %}g" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_3.jpg' %}">
            </a>
          </div>

          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_4.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_4.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_5.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_5.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_6.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_6.jpg' %}">
            </a>
          </div>

          <div class="col-md-6 col-lg-6 item">
            <a href="{%static 'website/images/sq_img_11.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_11.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-6 item">
            <a href="{%static 'website/images/sq_img_2.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_2.jpg' %}">
            </a>
          </div>

          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_7.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_7.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_8.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_8.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_9.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_9.jpg' %}">
            </a>
          </div>

          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_10.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_10.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_11.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_11.jpg' %}">
            </a>
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="{%static 'website/images/sq_img_12.jpg' %}" class="item-wrap fancybox" data-fancybox="gallery2">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="{%static 'website/images/sq_img_12.jpg' %}">
            </a>
          </div>

        </div>
      </div>
    </section>
    
    {% include "template_files/footer.html" %}
  
  </div>

    <script src="/static/website/js/jquery.min.js"></script>
    <script src="/static/website/js/bootstrap.bundle.min.js"></script>
    <script src="/static/website/js/isotope.pkgd.min.js"></script>
    <script src="/static/website/js/stickyfill.min.js"></script>
    <script src="/static/website/js/jquery.fancybox.min.js"></script>
    <script src="/static/website/js/jquery.easing.1.3.js"></script>
    <script src="/static/website/js/jquery.waypoints.min.js"></script>
    <script src="/static/website/js/jquery.animateNumber.min.js"></script>
    <script src="/static/website/js/owl.carousel.min.js"></script>
    <script src="/static/website/js/quill.min.js"></script>
    <script src="/static/website/js/bootstrap-select.min.js"></script>
    <script src="/static/website/js/custom.js"></script>
   
  </body>
</html> -->